<div class="animation1-container">
  <div class="animation1-text">
  <div class="welcome" data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000">Welcome</div>
  <div class="scrolldown" data-aos-delay="1000" data-aos="fade-right" data-aos-duration="2000">This page is a work in progress</div>
  </div>
  <div>
    <video class="animation-video1" autoplay loop>
      <source src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/animation_scene1_test.mp4">
    </video>
  </div>
</div>