<div style="text-align:center; font-family: Lato">
  <div class="welcome" data-aos-delay="500" data-aos="fade-right" data-aos-duration="2000">Welcome</div>
  <div class="scrolldown" data-aos-delay="2100" data-aos="fade-right" data-aos-duration="2000">This page is a work in progress</div>
  <div data-aos="zoom-out-up" class="mountains">
    <img style="width: 100vw; margin-left: -8px; z-index: -1" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/Mountains-front.png"
    />
  </div>
  <div class="particles">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  </div>

  <div data-aos="zoom-out-up" data-aos-anchor="#trigger-tree" style="margin-top: -23%; margin-left: 32%">
    <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/pink_tree.png" />
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br />

<!-- <div style="overflow: auto; position: fixed; bottom: 0;" data-aos="fade-right" data-aos-anchor="#trigger1">
  <img style="width: 20vw"  src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/man.png" />
</div>
<div style="position: fixed; bottom: 0;" data-aos="fade-right" data-aos-anchor="#trigger2">
  <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/computer.png" />
</div>
<div style="position: fixed; bottom: 0;" data-aos="fade-right" data-aos-anchor="#trigger3">
  <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/table.png" />
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="trigger1"></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="trigger2"></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="trigger3"></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> -->