<div style="text-align:center; font-family: Lato">
  <div class="welcome" data-aos-delay="500" data-aos="fade-right" data-aos-duration="2000">Welcome</div>
  <div class="scrolldown" data-aos-delay="2100" data-aos="fade-right" data-aos-duration="2000">Scroll down for more</div>
  <div data-aos="zoom-out-up" class="mountains">
    <img style="width: 100vw; margin-left: -8px; z-index: -1" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/Mountains-front.png"
    />
  </div>
  <div class="particles">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  </div>

  <div data-aos="zoom-out-up" data-aos-anchor="#trigger-tree" style="margin-top: -23%; margin-left: 32%">
    <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/pink_tree.png" />
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br />

  <h4>Desktop / Mobile Designs for Hack Reactor's Learn Application</h4>
  <p>Hack Reactor needed an easier way to navigate through their courses in their app. These roughs show that each individual
     course is seperated by defining logos. After clicking on a logo, it will show a menu showing all links
     contained in that specific course. This learn application is used throughout all hack reactor locations by staff and students.
  </p>
  <div class="design1">
    <img style="width: 100vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/Screen+Shot+2017-11-06+at+10.20.06+AM.png" />
  </div>

  <br />

  <h4> Drop Down Menu Designs</h4>
  <div class="design1">
    <img style="width: 100vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/Screen+Shot+2017-11-06+at+10.20.22+AM.png" />
  </div>

  <br />

  <h4> Quick logos created in two days / Sketch </h4>
  <div class="design1">
    <img style="width: 100vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/Screen+Shot+2017-11-06+at+10.19.46+AM.png" />
  </div>

<!-- <div style="overflow: auto; position: fixed; bottom: 0;" data-aos="fade-right" data-aos-anchor="#trigger1">
  <img style="width: 20vw"  src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/man.png" />
</div>
<div style="position: fixed; bottom: 0;" data-aos="fade-right" data-aos-anchor="#trigger2">
  <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/computer.png" />
</div>
<div style="position: fixed; bottom: 0;" data-aos="fade-right" data-aos-anchor="#trigger3">
  <img style="width: 20vw" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/table.png" />
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="trigger1"></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="trigger2"></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="trigger3"></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> -->