<div style="font-family: Lato">

  <div class="thesis">
    <img class="image_ar" src="assets/project_screenshots/ghost_writers_ar.png" />
    <div class="gw_desktop_paragraph">
      <p class="gw_desktop_paragraph_1">Ghost Writers</p>
      <!-- <p style="margin-top: 30px; border-right: 2px solid black; color: grey; margin-right: 10px">Ghost Writers</p> -->
      <p class="gw_desktop_paragraph_2">
        Mobile application that allows users to go out into the world to discover and create virtual artpieces. Our code works with
        Wikitude's Augmented Reality image recognition software to make this all possible.
      </p>
    </div>
    <p style="margin-left: 50%">Demo: Github:</p>
    <img src="assets/project_screenshots/ghost_writers_login.png" style="height: 500px" />
    <img src="assets/project_screenshots/ghost_writers_create.png" style="height: 500px" />
    <img src="assets/project_screenshots/ghost_writers_map.png" style="height: 500px" />
  </div>
</div>