.paragraph {
  padding: 10px;
  width: 500px;
}
.image_ar{
  width: 100%;
  max-width: 900px;
  display: flex;
  margin: auto;
  margin-top: 30px;
}
.triplit_header_img {
  width: 100%;
  max-width: 950px;
  display: flex;
  margin: auto;
  margin-top: 30px;
}

.gw_desktop_paragraph{
display: flex;
margin: auto;
width: 100%;
max-width: 900px;
}

.gw_desktop_paragraph_1 {
  border-right: 1px solid black;
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.gw_desktop_paragraph_2 {
  margin: auto;
  margin-left: 10px;
  font-size: 20px;
}

.login_img {
  height: 500px;
  opacity: 0.7;
  margin-right: 25px;
}

.login_img:hover{
  opacity: 1;
}

.images {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 900px;
}
.triplit_img{
  width: 100%;
  margin-top: 100px;
}
.triplit_images{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 900px;
  opacity: 0.7;
}
.triplit_images:hover{
  opacity: 1;
}
.coffee_img{
   display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
}

@media only screen and (max-width: 420px) {
  .gw_desktop_paragraph{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 0px;
  }
  .image_ar{
    height: 200px; 
    padding: 5px;
    border-radius: 8px;
    margin-top: 30px;
  }
  .thesis {
    width: 350px;
  }
  .gw_desktop_paragraph_1{
    margin-left: 10px;
    width: 120px;
    font-size: 25px;
  }
  .gw_desktop_paragraph_2{
    font-size: 18px;
  }
  .images {
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .login_img{
    height: 200px;
    opacity: 1;
    margin-right: 0px;
  }
  .triplit_images{
    opacity: 1;
  }
}