<div style="font-family: Lato">

  <div class="thesis">
    <div class="paragraph">
      <p style="margin-top: 30px; border-right: 2px solid black; color: grey; margin-right: 10px">Ghost Writers</p>
      <p style="font-size: 24px">
        Mobile application that allows users to go out into the world to discover and create virtual artpieces. Our code works with Wikitude's Augmented
        Reality image recognition software to make this all possible.
      </p>
    </div>

    <img class="image_ar" src="assets/project_screenshots/ghost_writers_ar.png" />
    <br>
    <img src="assets/project_screenshots/ghost_writers_login.png" style="height: 500px" />
    <img src="assets/project_screenshots/ghost_writers_create.png" style="height: 500px" />
    <img src="assets/project_screenshots/ghost_writers_map.png" style="height: 500px" />
    <br>
    <br>
  </div>
</div>