<div style="font-family: Lato">

  <md-tab-group>

    <!-- ghost-writers -->
    <md-tab label="Ghost Writers">
      <div class="thesis">
        <img class="image_ar" src="assets/project_screenshots/ghost_writers_ar.png" />
        <div class="gw_desktop_paragraph">
          <p class="gw_desktop_paragraph_1" style="width: 450px">
            Ghost Writers
            <br>
            <a href="https://www.youtube.com/watch?v=X-kw4UlwKjE" target="_blank"><button md-button style="background-color: #7da6e8; color: white; width: 100px">Video Demo</button></a>
            <br>
            <a href="https://github.com/Ghost-Writers/Ghost-Writers-Web-v2" target="_blank"><button md-button style="background-color: #5e8edb; color: white; width: 100px">GitHub</button></a>
          </p>

          <!-- <p style="margin-top: 30px; border-right: 2px solid black; color: grey; margin-right: 10px">Ghost Writers</p> -->
          <p class="gw_desktop_paragraph_2">
            Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
            users to post and create their own virtual art, anywhere in the world.
          </p>
        </div>
        <div class="images">
          <img class="login_img" src="assets/project_screenshots/ghost_writers_login.png" />
          <img class="login_img" src="assets/project_screenshots/ghost_writers_create.png" />
          <img class="login_img" src="assets/project_screenshots/ghost_writers_map.png" />
        </div>
      </div>
    </md-tab>

    <!-- triplit -->
    <md-tab label="Triplit">
      <div class="triplit">
        <img class="triplit_header_img" src="assets/project_screenshots/triplit_3.png" />
        <div class="gw_desktop_paragraph">
          <p class="gw_desktop_paragraph_1">
            Triplit
            <br>
            <a href="https://github.com/Ghost-Writers/Ghost-Writers-Web-v2" target="_blank"><button md-button style="background-color: #5e8edb; color: white; width: 100px">GitHub</button></a>
          </p>

          <!-- <p style="margin-top: 30px; border-right: 2px solid black; color: grey; margin-right: 10px">Ghost Writers</p> -->
          <p class="gw_desktop_paragraph_2">
            Triplit is a web application that makes it easy for you and your friends to plan trips in as easy as three steps. Create
            a trip, invite your friends, find a hotel, and depart on your adventure.
          </p>
        </div>
        <div class="triplit_images">
          <img class="triplit_img" src="assets/project_screenshots/triplit_1.png" />
          <img class="triplit_img" src="assets/project_screenshots/triplit_4.png" />
          <img class="triplit_img" src="assets/project_screenshots/triplit_2.png" />
          <img class="triplit_img" src="assets/project_screenshots/triplit_5.png" />
        </div>
      </div>
      <!-- <img style="height: 600px" src="assets/project_screenshots/triplit_1.png" />
      <img style="height: 600px" src="assets/project_screenshots/triplit_2.png" /> -->
    </md-tab>


    <md-tab label="Slack Overflow">
      Content 2
    </md-tab>

    <md-tab label="Spaced Bar">
      Content 2
    </md-tab>

  </md-tab-group>

</div>