<!--The content below is only a placeholder and can be replaced.-->

<div class="navBar" style="text-align: center">
  <button class="navBarBtn" md-button routerLink="/" routerLinkActive="active">
    About Me
  </button>
  <button class="navBarBtn" md-button routerLink="/projects" routerLinkActive="active">
    Projects
  </button>
  <button class="navBarBtn" md-button routerLink="/designs" routerLinkActive="active">
    Designs
  </button>
  <!-- <button class="navBarBtn" md-button routerLink="/contact" routerLinkActive="active">
    Contact
  </button> -->
</div>

<router-outlet></router-outlet>