<!--The content below is only a placeholder and can be replaced.-->
<div class="video-container">

  <div class="video-overlay">

    <img class="image" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/logo-transparent-jh-slightlydifferent.png" />

    <div class="jay_hongvarivatana">
      Jay Hongvarivatana
    </div>

  </div>

  <div class="inner-border">
  </div>

  <video class="video-home" autoplay loop>
    <source src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/designVideoDark.mp4" type="video/mp4">
  </video>

</div>

<div class="navBar" style="text-align: center">
  <button class="navBarBtn" md-button routerLink="/about" routerLinkActive="active">
    About Me
  </button>
  <button class="navBarBtn" md-button routerLink="/projects" routerLinkActive="active">
    Projects
  </button>
  <button class="navBarBtn" md-button routerLink="/designs" routerLinkActive="active">
    Designs
  </button>
  <!-- <button class="navBarBtn" md-button routerLink="/contact" routerLinkActive="active">
    Contact
  </button> -->
</div>

<router-outlet></router-outlet>
