.navBar {
  background-color: white;
  background: transparent;
  height: 50px;
  z-index: 1
}

.navBarBtn {
  font-size: 20px;
  font-family: "Lato", "Arial";
  color: black;
  margin-top: 5px;
  margin-left: 30px;
}

@media only screen and (max-width: 600px) {
  .navBarBtn{
    font-size: 15px;
    margin-left: 10px;
  }

@media only screen and (max-width: 420px) {
  .navBarBtn{
    margin-top: 50px;
    font-size: 12px;
    margin: auto;
  }
  .navBar{
    margin-top: 20px;
  }
}

}