<div class="navBar">
  <button class="navBarBtn" md-button routerLink="/about" routerLinkActive="active">
    About Me
  </button>
  <button class="navBarBtn" md-button routerLink="/projects" routerLinkActive="active">
    Projects
  </button>
  <button class="navBarBtn" md-button routerLink="/animations" routerLinkActive="active">
    Animations
  </button>
  <button class="navBarBtn" md-button routerLink="/designs" routerLinkActive="active">
    Designs
  </button>
</div>

<router-outlet></router-outlet>
