<div class="about_me" style="font-family: Lato">
  <img class="about_me_picture" src="assets/images/my_face.png" />
  <h1 class="header_name">Jay Hongvarivatana
    <div class="secondary_headers" style="border-left: 1px solid black">
      <p style="margin-left: 10px">Full-Stack Developer</p>
      <p style="margin-top: -15px; margin-left: 10px">Animator</p>
    </div>
    <p class="about_me_buttons">
      <a class="button" href="https://www.linkedin.com/in/jayyhong/" target="_blank"><button md-button>Linked In</button></a>
      <a class="button" href="https://github.com/jayyhong" target="_blank"><button md-button>Github</button></a>
      <a class="button" href="https://www.facebook.com/jay.hongvarivatana" target="_blank"><button md-button>Facebook</button></a>
      <a class="button" href="https://angel.co/jay-hongvarivatana?al_content=view+your+profile&al_source=transaction_feed%2Fnetwork_sidebar"
        target="_blank"><button md-button>Angel List</button></a>
    </p>
  </h1>
</div>

<!-- <div style="display: flex; background-color:#DBCC97"> -->
<div class="animation_text">
  <div style="display: flex; margin: auto; flex-direction: column">
    <p style="font-size: 40px; font-family: Lato; border-bottom: 5px solid black">Interactive Animation</p>
    <p class="animation_text_2">Tablet - My Projects</p>
    <p class="animation_text_2">Phone - Contact Me</p>
    <p class="animation_text_2">Folder - Code Repository</p>
  </div>
  <div style="margin: auto">
    <!-- papers -->
    <div class="papers" onClick="window.open('https://github.com/jayyhong/portfoliolio', '_blank')">
    </div>
    <!-- ipad -->
    <div class="projects" (click)="renderProjects()" routerLink="/projects" routerLinkActive="active">
    </div>
    <!-- coffee -->
    <div class="coffee" (click)="renderAboutMe()" routerLink="/" routerLinkActive="active">
    </div>
    <img class="table" style="" src="../../assets/images/test/table_test-{{frames}}.png" />
    <!-- <div class="about" routerLink="about" routerLinkActive="active">  -->
  </div>
</div>
<div class="closing">
  <!-- <p style="font-family: Lato; font-weight: bold; font-size: 30px; border-left: 3px solid black">Interactive Animation</p>
  <p style="font-family: Lato; font-size: 20px; margin-top: -15px;">Click on an item above to redirect to another page.</p> -->
</div>
<!--table color code: #DBCC97 -->