<div style="display: flex; background-color:#DBCC97">
  <div style="margin: auto">
    <!-- papers -->
    <div class="papers" (click)="renderCode()">
    </div>
    <!-- ipad -->
    <div class="projects" (click)="renderProjects()" routerLink="/projects" routerLinkActive="active">
    </div>
    <!-- coffee -->
    <div class="coffee" (click)="renderAboutMe()" routerLink="/" routerLinkActive="active">
    </div>
    <img class="table" style="" src="../../assets/images/test/table_test-{{frames}}.png" />
    <!-- <div class="about" routerLink="about" routerLinkActive="active">  -->
  </div>
</div>

<!--table color code: #DBCC97 -->