<div class="video-container">

  <div class="video-overlay">

    <img routerLink="/projects" routerLinkActive="active" class="image" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/logo-transparent-jh-slightlydifferent.png"
    />

    <div class="jay_hongvarivatana">
      Jay Hongvarivatana
    </div>

  </div>

  <div class="inner-border">
  </div>

  <video class="video-home" autoplay loop>
    <source src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/designVideoDark.mp4" type="video/mp4">
  </video>

</div>

<div data-aos="zoom-out-up" class="about_me" style="font-family: Lato">
  <img class="about_me_picture" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/my_face.png" />
  <h1 data-aos="zoom-out-up" class="header_name">Jay Hongvarivatana
    <div class="secondary_headers">
      <p data-aos="zoom-out-up" style="">Software Engineer / Animator</p>
    </div>
    <p data-aos="zoom-out-up" class="about_me_buttons">
      <a routerLink="/resume" routerLinkActive="active"><button class="button">Resume</button></a>
      <a href="https://github.com/jayyhong" target="_blank"><button class="button">Github</button></a>
      <a href="https://www.linkedin.com/in/jayyhong/" target="_blank"><button class="button">Linked In</button></a>
    </p>
  </h1>
</div>

<br/><br/><br/><br/><br/><br/>

<!-- <div data-aos="zoom-out-up" class="resume-container">
  <p style="text-align: center"> Click on Resume to Zoom in </p>
  <img routerLink="/resume" routerLinkActive="active" class="resume" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/Resume_PNG.png"
  />
</div> -->