.about_me {
  display: flex;
  margin: auto;
}

.about_me_picture{
  height: 200px; 
  border-radius: 100%; 
  margin-top: 20px; 
  margin-left: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.table {
  height: 630px;
  margin: auto;
}

.papers {
  position: absolute;
  /* border: 1px solid black; */
  margin:auto;
  margin-left: 20px;
  margin-top: 290px;
  height: 230px;
  width: 200px;
  cursor: pointer;
}

.projects {
  position: absolute;
  /* border: 1px solid black; */
  height: 210px;
  width: 290px;
  margin: auto;
  margin-left: 530px;
  margin-top: 160px;
  -webkit-transform: rotate(22deg);
  transform: rotate(22deg);
  cursor: pointer;
}

.coffee {
  position: absolute;
  /* border: 1px solid black;  */
  height: 105px;
  width: 105px;
  margin: auto;
  margin-left: 820px;
  margin-top: 425px;
  border-radius: 100px;
  cursor: pointer;
}

.header_name {
  /* border-left: 1px solid black;  */
  font-size: 40px; 
  margin-left: 20px
}

.secondary_headers {
  font-size: 25px; 
  margin-top: -10px
}

.about_me_paragraph {
  font-size: 15px;
}

@media only screen and (max-width: 420px) {
  .table{
    height: 35vh;
    width: 100%;
  }

  .header_name {
    font-size: 25px;
  }

  .secondary_headers {
    margin-top: -10px;
    font-size: 15px;
  }

  .about_me_picture{
    height: 100px; 
    border-radius: 100%; 
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .papers {
    height: 85px;
    width: 75px;
    margin-top: 115px;
    margin-left: 10px;
  }


  .projects{
    height: 85px;
    width: 115px;
    margin-left: 205px;
    margin-top: 70px;
  }

  .coffee{
    margin-left: 320px;
    margin-top: 155px;
    height: 40px;
    width: 40px;
  }

}